* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
  border-top: 1mm solid red;
  border-bottom: 1mm solid red;
  background: linear-gradient(
      to bottom,
      rgba(0,0,0,0.15) 0%,
      transparent 20%,
      transparent 80%,
      rgba(0,0,0,0.15) 100%
    ),
    url(top-image.png) no-repeat top left,
    url(bottom-image.png) no-repeat bottom left;
  background-color: white;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
  background: url(logo.png) no-repeat center / contain;
  filter: drop-shadow(2px 3px 4px rgba(0,0,0,0.35));
}

